/* ==========================================
   GLOBAL VARIABLES
========================================== */

:root{

    /* Brand Colors */

    --primary-color:#4F46E5;

    --primary-hover:#4338CA;

    --success-color:#16A34A;

    --danger-color:#DC2626;

    --warning-color:#F59E0B;

    /* Text */

    --text-dark:#1E293B;

    --text-light:#64748B;

    /* Background */

    --background:#F8FAFC;

    --white:#FFFFFF;

    /* Border */

    --border-color:#E2E8F0;

    /* Radius */

    --radius:12px;

    /* Shadow */

    --shadow:

    0 10px 30px rgba(0,0,0,.08);

}